:root {
    --primary: #ececec
    --secondary: #385170;
    --alt: #142d4c;
    --shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

/* Header guts*/

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px 10px 10px;
}

header img {
    max-height: 300px;
    width: auto;
    box-shadow: var(--shadow);
    position: right;
}

header nav {
    margin:20px;
}

header h1 {
    color: var(--alt);
    font-size: 100px;
    font-weight: bold;
    padding: 50px;
    text-shadow: var(--shadow);
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style:none;
}

header nav ul li a {
    padding:8px;
    font-size:20px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

/* Hero section */

.hero {
    background-image: url("./images/HeroBanner.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 15px;
    font-size: 45px;
    text-shadow: var(--shadow);
}

.hero h2 span {
    background-color: rgba(0, 0, 0, 0.5);
    color:lightblue;
    border-radius: 16px;
}
/*Footer guts*/

.contact {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    flex-direction: column;
    margin-bottom: 10px;
    text-align:center;
}

.contact title {
    color:black;
}

.contact a {
    font-size: 10px
}